@font-face { font-family: 'Raleway Black';
             src: url('Raleway-Black.ttf') format('truetype'); }
*{padding:0;margin:0;}
body{
    height: 100vh;
    font-family: Raleway Black;
}
td{
   font-size: 16px;
}
table{
     width: 100%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
h2{
    text-align: center;
}
h5{
   font-size: 20px;
    color: #595959;
    margin-left: 10px;
}
/*
#gif{
    width: 333px;
    height: 200px;
    background: url(Pictures/E_Corp.jpg);
    float: right;
}
#gif:hover{
    background: url(Pictures/E_Corp.gif);

}*/
/*Menüleiste*/
#menü{
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #2d2d2d;
}
/*Logo(E)*/
#logo{
    width: 100%;
    margin-bottom: 20px;
    background-color: #000000;
}
#banner{
    color: white;
    height: 202px;
    width: 100%;
    background-color: #000000;
}
#banner img{
    height: 160px;
    margin-left: 20%;
}
nav.vertical{
  position:relative;
  width:200px;
}
/* Alle ul */
nav.vertical ul{
  list-style: none;
}
/* Alle li */
nav.vertical li{
  position:relative;
}
/* Alle a */
nav.vertical a{
  display :block;
  color: #eee;
  text-decoration: none;
  padding: 10px 15px;
  background: #2d2d2d;
  transition: 0.2s;
}
/* Alle a hover */
nav.vertical li:hover > a{
  background: #464646;
}
/* Verstecken ul */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}
/* Zeigen ul */
nav.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}
nav.vertical img{
    height: 20px;
}
.prozent{
    margin-left: 200px;
    width: auto;
    height: 50px;
    background-color: aliceblue;
}
.prozent:hover  .balken {
    width: 70%;
    opacity: 1;
}
.balken{
    height: 50px;
    width: 0%;
    background: url(Pictures/ladetexture.png);
    background-size: contain;
    transition: 1.5s;
    opacity: 0;
    border-radius: 0px 20px 20px 0px;
}
.balken div{
    padding: 11px;
    width: 600px;
}
.content{
    margin-left: 200px;
    height: calc(100vh - 260px);
}
.content iframe{
    height: 100%;
    width: 100%;
    border: none;
}
.tab{
    border-bottom: solid 1px #b7b7b7;
    margin: 10px;
    padding: 10px;
}
.tab img{
    margin-bottom: -5px;
    height: 20px;
}
.tab a{
    font-size: 14px;
}
.tab a:hover{
    color: red;
}
.picture{
    float: left;
    border: none;
}

.allp{
    margin: 10px;
    height: 400px;
}
.products{
    float: left;
    background-color: #fcfcfc;
    height: 300px;
    width: 225px;
    margin: 10px;
    border: solid 1px #383838;
    border-radius: 5px;
}
.products h4{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #ed1616;
}
.products p{
    padding: 10px;
    text-align: center;
}
.products img{
    margin-left: 35px;
    height: 60%;
}
.impressum{
    font-size: 15px;
    margin-left: 10px;
}
.impressum p{
    margin-left: 12px;
}
.vrtg:nth-of-type(1){
    text-align: center;
    border: solid #b7b7b7;
    float: left;
    margin: 2%;
    width: 46%;
    height: 90%;
    box-sizing: border-box;
    background-image: url(Pictures/0%E2%82%AC.png);
    background-size: cover;
}
.vrtg:nth-of-type(2){
    text-align: center;
    border: solid #b7b7b7;
    float: left;
    margin: 2%;
    width: 46%;
    height: 42%;
    box-sizing: border-box;
    background-image: url(Pictures/familienv.jpg);
    background-size: cover;
}
.vrtg:nth-of-type(3){
    text-align: center;
    border: solid #b7b7b7;
    float: left;
    margin: 2%;
    width: 46%;
    height: 42.5%;
    box-sizing: border-box;
    background-image: url(Pictures/ehepaarv.jpg);
    background-size: cover;
}
.vrtg h2{
    color: #ff0000;
    margin-top: 40%;
}